.bannerBackGround {
    background-image: url('https://wac-cdn.atlassian.com/dam/jcr:f96e5a0a-7af5-4cc6-884c-b51416e65e41/JSM_BG%20Graphics.png?cdnVersion=984'), linear-gradient(287.15deg,
            #fafbfc 0%,
            #deebff 8.06%,
            #b3d4ff 35.45%,
            #deebff 77.6%,
            #fafbfc 100%);
    background-position: top right, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%, auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.feature{
    position: absolute;
    width: 400px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.text{
    font-size: 3em;
}
.icon{
    width: 100%;
    height: 100%;
    font-size: 30px;
    
}