.info .avatar-group {
    margin-left: 20px;
    margin-bottom: 20px;
}
.img_not_found{
    height: 400px;
    position: relative;
}
.avatar-group .avatar img {
    width: 40px;
    border: 1px solid transparent;
    height: 40px;
    border-radius: 50%;
}

.avatar img {
    width: 40px;
    border: 1px solid transparent;
    height: 40px;
    border-radius: 50%;
}