.feature{
    width: 100%;
    padding: 90px 100px;
}
.Sponsor_background{
    background-image: url("https://wac-cdn.atlassian.com/dam/jcr:8a9ac4bd-71f9-4af4-b859-f9c132e12f80/JSW_CTA_bg.png?cdnVersion=1040");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    min-height: 400px;


}
