.feature{
    width: 100%;
    padding: 90px 100px;
}


.Sponsor_background{
    background-image: url("https://wac-cdn.atlassian.com/dam/jcr:8a9ac4bd-71f9-4af4-b859-f9c132e12f80/JSW_CTA_bg.png?cdnVersion=1040");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.h2_text{
    font-size: 200%;
    color: white;
    font-weight: 600;
    
}

.button_text{
    font-size: 150%;
    color: #091e42;
    font-weight: 600;
}
.component__image{
    height: 100px;
    margin-left: 10px;
    width: 100%;
}
.Sponsor_position{
    position: relative;
}
.Sponsor_children{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}