.MainPage {
    display: flex;
    height: 100%;
}
.pageRightOpen {
    margin-left: 200px;
    flex-basis: 90%;
    width: 100%;
}
.pageRightClose {
    margin-left: 100px;
    flex-basis: 70%;
    width: 100%;
}
@media screen and (min-width:500px){
    .pageRightOpen {
        flex-basis: 70%;
        width: 100%;
    }
    .pageRightClose {
        flex-basis: 70%;
        width: 100%;
    }
}
.sideBarOpen {
    flex-basis: 80px;
}

.sideBarClose {
    flex-basis: 50px;
}

.pageLeftOpen {
    flex-basis: 30px;
}

.pageLeftClose {
    transform: translateX(55px);
    position: fixed;
    height: 720px;
    flex-basis: 0%;
    width: 20px;
    border-right: 1px solid rgb(66 153 225 / .5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



