.MainPage {
    display: flex;
    height: 92vh;
}

.sideBarOpen {
    flex-basis: 5%;
}

.sideBarClose {
    flex-basis: 4%;
}

.pageLeftOpen {
    flex-basis: 10%;
}

.pageLeftClose {
    width: 20px;
    border-right: 1px solid rgb(66 153 225 / .5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pageRightOpen {
    width: 100%;
}

.pageRightClose {
    flex-basis: 75%;
    width: 100%;
}